<!DOCTYPE html>
{{- $mode := partialCached "func/getMode" . }}
<html lang="{{ .Lang }}" {{ if $mode }} data-mode="{{ $mode }}"{{ end }}>
  {{ partial "head" . }}
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PMK6VDXW"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <!-- Start of vanilla-back-to-top -->
    <script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
    <script>addBackToTop({
      diameter: 56,
      backgroundColor: 'rgb(255, 82, 82)',
      textColor: '#fff'
    })</script>
    <!-- End of vanilla-back-to-top -->
    {{ partialCached "nav" . }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    {{ partialCached "footer" . }}
    {{ partialCached "sprites" . }}
    {{ block "js-extra" . }}{{ end }}
  </body>
</html>
